.container{
    padding: 15px;

}

.item{
    display:flex;
    color: white;
    background-color: rgba(41, 41, 77, 0.82);
    justify-content: flex-start;
    align-items: center;
}
.item img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin: 10px;
}
.likes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 650px;
}
.likes img{
    width:20px;
    height: 15px;
}
.likes:hover img{
    cursor: pointer;
}