.pages {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.pages span {
    margin: 10px;
}
.pages .selectedPage {
    font-weight: bold;
    color: gold;
}
